<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload CNAB</title>

    <style>
      * {
        border: 0;
        margin: 0;
        padding: 0;
      }

      body {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Send</button>
    </form>

    <ul class="ErrorList__ul"></ul>

    <ul class="TransactionList__ul">
      {% if transaction_groups %} 
        {% for store in transaction_groups %}
          <li>
            <h2>{{ store.name }}</h2>
            <p>Saldo: {{ store.formatting_balance }}</p>
            <ul>
              {% for transaction in store.transactions %}
                <li>
                  <p>Data: {{ transaction.data }}</p>
                  <p>Valor: {{ transaction.valor }}</p>
                  <p>CPF: {{ transaction.cpf }}</p>
                  <p>Cartão: {{ transaction.cartao }}</p>
                  <p>Hora: {{ transaction.hora }}</p>
                  <p>Dono: {{ transaction.dono }}</p>
                  <p>Tipo: {{ transaction.tipo.descricao }}</p>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      {% else %}
        Não há registros
      {% endif %}
    </ul>
  </body>
</html>
